<h2>Cocktail Name: <%= @recipes.name %></h2>

<ul>
  <label>Ingredients:</label>
  <li><%= @recipes.ingredients.gsub(/\n/, '<br/>') %>.</li>
  <br>
  <label>Directions:</label>
  <li><%= @recipes.directions.gsub(/\n/, '<br/>') %>.</li>
  <br>
  <label>Spirit:</label>
  <li><%= @recipes.spirit_type.gsub(/\n/, '<br/>') %>.</li>
  <br>
  <label>Created by: </label>
  <li><%= @recipes.user.username.gsub(/\n/, '<br/>') %>.</li>

</ul>
<br>

<a href=<%= "/recipes/#{@recipes.id}/edit" %>>Edit This Recipe!</a>
<br>
<%# delete form %>
<%# add to drinkbook %>
